<% flash.each do |task_type, task| %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div class="alert alert-<%= task_type %>"><%= task %></div>
<% end %>